# OS
.DS_Store

# Packages
node_modules

# Env
.env
.env.*
!.env.example

# IDE
.vscode
!.vscode/extensions.json

# Build
/build
/package
/.svelte-kit
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
storybook-static
coverage
